<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Club</title>
    <link rel="stylesheet" href="./css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Source+Serif+Pro&display=swap"
        rel="stylesheet">
    <script src="/js/custom.js"></script>
</head>
<body class="container d-flex flex-column justify-content-center align-items-center">
    <main class="d-flex justify-content-center flex-column align-items-center p-3 m-3">
        <h1>Ingresar Club</h1>
        <h2>Ingrese los datos del Club.</h2>
        <br>
        <a href="/verClub" class="form-control btn btn-dark"> Volver a Inicio</a>
        <form th:action="@{/guardarClub}" th:object="${club}" method="post"
            class="d-flex flex-column p-5 g-3 needs-validation m-3">
            <input type="hidden" th:field="*{id}" />
            <h4>Solicitud de datos:</h4>
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" name="nombre" placeholder="Nombre Jugador:" th:field="*{nombre}" />
                <label for="nombre" class="form-label p-3">Nombre: </label>
            </div>
            <div class="mb-4 form-floating">
                <select th:field="*{entrenadores}" class="form-select" required>
                    <th:block th:each="entrenadores: ${listaEntrenador}">
                        <option th:text="${entrenadores.nombre}" th:value="${entrenadores.id}"></option>
                    </th:block>
                </select>
                <label class="col-sm-4 col-form-label">Entrenador:</label>
            </div>
            <div class="mb-4 form-floating">
                <select th:field="*{asociacion}" class="form-select" required>
                    <th:block th:each="asociacion: ${listaAsociacion}">
                        <option th:text="${asociacion.nombre}" th:value="${asociacion.id}"></option>
                    </th:block>
                </select>
                <label class="col-sm-4 col-form-label">Asociacion:</label>
            </div>

            <div class="d-flex mb-3">
                <input type="submit" class="form-control btn-outline-dark me-4" value="Enviar">
                
                <a th:href="@{/verClub/formClub}" class="btn btn-outline-primary">Restablecer</a>
            </div>
        </form>




        <!-- Modal de error -->
        <div th:if="${error}" class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">Error</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" th:text="${error}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    
    
    <script th:if="${error}">
        document.addEventListener("DOMContentLoaded", function() {
            var modal = new bootstrap.Modal(document.getElementById('errorModal'));
            modal.show();
        });
        // Script para restablecer los selectores cuando se cierra el modal
        $('#errorModal').on('hidden.bs.modal', function () {
            $('select').prop('disabled', false);
        });
    </script>



</body>
</html>
