
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Asociacion</title>
    <link rel="stylesheet" href="./css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Source+Serif+Pro&display=swap"
        rel="stylesheet">
    
</head>
<body class="container d-flex flex-column justify-content-center align-items-center">
    <main class="d-flex justify-content-center flex-column align-items-center p-3 m-3">
        <h1>Ingresar Asociacion</h1>
        <h2>Ingrese los datos de la Asociacion.</h2>
        <br>
        <a href="/verAsociacion" class="form-control btn btn-dark"> Volver a Inicio</a>
        <form th:action="@{/guardarAsociacion}" th:object="${asociacion}" method="post"
            class="d-flex flex-column p-5 g-3 needs-validation m-3">
            <input type="hidden" th:field="*{id}" />
            <h4>Solicitud de datos:</h4>

            <div class="mb-3 form-floating">
                <input type="text" class="form-control" name="nombre" placeholder="Nombre Asociacion:" th:field="*{nombre}" />
                <label for="nombre" class="form-label p-3">Nombre: </label>
            </div>

            <div class="mb-3 form-floating">
                <input type="text" class="form-control" name="pais" placeholder="pais Asociacion:" th:field="*{pais}" />
                <label for="pais" class="form-label p-3">Pais: </label>
            </div>

            <div class="mb-3 form-floating">
                <input type="text" class="form-control" name="presidente" placeholder="presidente Asociacion:" th:field="*{presidente}" />
                <label for="presidente" class="form-label p-3">Presidente: </label>
            </div>

            <div class="mb-3 form-floating">
                <input type="text" class="form-control" name="siglas" placeholder="siglas Asociacion:" th:field="*{siglas}" />
                <label for="siglas" class="form-label p-3">Siglas: </label>
            </div>
            
            

            <div class="d-flex mb-3">
                <input type="submit" class="form-control btn-outline-dark me-4" value="Enviar">
                
                <a th:href="@{/verAsociacion/formAsociacion}" class="btn btn-outline-primary">Restablecer</a>
            </div>
        </form>




    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    
    
   



</body>
</html>
