<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Entrenadores Registrados</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            background-color: #000; /* Fondo negro */
            color: #fff; /* Texto blanco */
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
        }
        .container {
            background-color: rgba(0, 0, 0, 0.9); /* Fondo negro semitransparente para el contenido */
            border-radius: 15px;
            padding: 30px;
        }
        .table-dark {
            background-color: #333; /* Fondo de la tabla en gris oscuro */
        }
        .table-hover tbody tr:hover {
            background-color: #444; /* Color al hacer hover en la tabla */
        }
        .btn-outline-primary {
            border-color: #dc143c; /* Borde rojo carmesí */
            color: #dc143c; /* Texto rojo carmesí */
        }
        .btn-outline-primary:hover {
            background-color: #dc143c; /* Fondo rojo carmesí al hacer hover */
            color: #fff; /* Texto blanco al hacer hover */
        }
        .btn-outline-success {
            border-color: #fff; /* Borde blanco */
            color: #fff; /* Texto blanco */
        }
        .btn-outline-success:hover {
            background-color: #fff; /* Fondo blanco al hacer hover */
            color: #000; /* Texto negro al hacer hover */
        }
        .btn-info {
            background-color: #dc143c; /* Fondo rojo carmesí */
            color: #fff; /* Texto blanco */
        }
        .btn-info:hover {
            background-color: #ff4d6d; /* Fondo rojo más claro al hacer hover */
            color: #fff; /* Texto blanco */
        }
        .btn-danger {
            background-color: #ff0000; /* Fondo rojo */
            color: #fff; /* Texto blanco */
        }
        .btn-danger:hover {
            background-color: #ff4d4d; /* Fondo rojo claro al hacer hover */
            color: #fff; /* Texto blanco */
        }
        .section__title {
            color: #dc143c; /* Título en rojo carmesí */
        }
    </style>
</head>
<body>
    <div class="container p-4">
        <center><h2 class="section__title text-white bold">Entrenadores Registrados</h2></center><br><br>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Nacionalidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="entrenadores: ${listaEntrenador}">
                    <td th:text="${entrenadores.id}"></td>
                    <td th:text="${entrenadores.nombre}"> </td>
                    <td th:text="${entrenadores.apellido}"> </td>
                    <td th:text="${entrenadores.edad}"> </td>
                    <td th:text="${entrenadores.nacionalidad}"> </td>
                    <td>
                        <a class="btn btn-info btn-xs" th:href="@{'/entrenadores/editar/'+${entrenadores.id}}" th:text="'editar'"></a>
                        &nbsp;&nbsp;
                        <a class="btn btn-danger btn-xs" th:href="@{'/entrenadores/eliminar/'+${entrenadores.id}}" th:text="'eliminar'"></a>
                    </td>    
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <div class="p-3"><br><a th:href="@{/verEntrenador/formEntrenador}" class="btn btn-outline-primary">Insertar Entrenador</a></div>
            <div class="p-3"><br><a th:href="@{/index}" class="btn btn-outline-success">Inicio</a></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
